{%extends "base.html"%}

{%block body%}
<h1>dashboard</h1>

<section class="catagories">
    <div class="catagories-item" style="background-image: url('static/legs.PNG');">
        <div class="catagories-item-inner">
            <div>
                Legs
            </div>
        </div>
    </div>
    <div class="catagories-item" style="background-image: url('static/tricep.PNG');">
        <div class="catagories-item-inner">
            <div>
                Triceps
            </div>
        </div>
    </div>
    <div class="catagories-item" style="background-image: url('static/bicep.jpg');">
        <div class="catagories-item-inner">
            <div>
                Biceps
            </div>
        </div>
    </div>
    <div class="catagories-item" style="background-image: url('static/back.jpg');">
        <div class="catagories-item-inner">
            <div>
                Back
            </div>
        </div>
    </div>
</section>
<h2 class="featured-products-title">
    Featured Products
</h2>
<section class="featured-products">
    <div class="featured-product-item">
        <div class="featured-product-item-image"></div>
    </div>
    <div class="featured-product-item">
        <div class="featured-product-item-image"></div>
    </div>
    <div class="featured-product-item">
        <div class="featured-product-item-image"></div>
    </div>
    <div class="featured-product-item">
        <div class="featured-product-item-image"></div>
    </div>
    <div class="featured-product-item">
        <div class="featured-product-item-image"></div>
    </div>
</section>
{%endblock%}